body,
html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #d2d6d9;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
}

body a,
html a {
  text-decoration: none;
}

.dr_profile {
  border-radius: 50%;
}

#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

#main .header {
  width: 100%;
  height: 15%;
  z-index: 1;
  position: fixed;
  background: #d2d6d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

#main .header .header_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#main .header .header_left .titlewrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 50%;
  left: 50%;
  width: 40%;
}

#main .header .header_left .titlewrap h1 {
  color: white;
  margin: auto;
  line-height: 100%;
  vertical-align: middle;
  font-size: 5em;
}

#main .header .header_left #patient_info {
  min-width: 30%;
  height: 80%;
  padding-top: 1%;
  background-color: white;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 5px 5px 32px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 32px 0px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-left: 35%;
  margin-right: 35%;
}

#main .header .header_left #patient_info .profile_pic {
  max-height: 80px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

#main .header .header_left #patient_info .patient_id {
  height: 100%;
  width: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .header .header_left #patient_info .patient_id #patientname {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 120%;
}

#main .header .header_left #patient_info .patient_id ul {
  font-size: 15px;
  padding-left: 10%;
  margin: 0;
  list-style-type: none;
  text-align: left;
  line-height: 120%;
}

#main .header .header_left #patient_info .patient_id ul li {
  padding-bottom: 10px;
}

#main .header .header_left #patient_info .patient_status {
  height: 100%;
  width: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .header .header_left #patient_info .patient_status ul {
  font-size: 15px;
  padding-left: 10%;
  margin: 0;
  list-style-type: none;
  text-align: left;
}

#main .header .header_left #menu_button_container {
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .header .header_left #menu_button_container .menu-btn {
  max-height: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

#main .header .header_right {
  width: 35%;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5%;
}

#main .header .header_right .link {
  width: 25%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  cursor: pointer;
}

#main .header .header_right .link .link_title {
  height: 80%;
  font-size: 100%;
}

#main .header .header_right .link .link_title a {
  color: black;
  font-size: 16px;
}

#main .header .header_right .link #active_link {
  height: 20%;
  width: 100%;
  display: block;
  background: #33508d;
}

#main .content {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 15%;
  bottom: 0;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* Safari */
}

#main .content .loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid grey;
  margin: auto;
  position: fixed;
  /* or absolute */
  top: 50%;
  left: 47.5%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#main .content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#main .content .wrapper .livestats {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 5px 5px 32px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 32px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: auto;
}

#main .content .wrapper .livestats div {
  height: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 60%;
}

#main .content .wrapper .livestats div p {
  font-size: 2em;
  width: 100%;
  text-align: center;
}

#main .content .wrapper .livestats div .value {
  font-weight: bold;
  font-size: 3em;
}

#main .content .wrapper .chartContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: 100%;
  top: 15%;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main .content .wrapper .chartContainer .chartRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  -webkit-box-shadow: 5px 5px 32px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 32px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 5px 20px;
}

#main .content .wrapper .chartContainer .chartRow .titlewrap {
  height: 20%;
}

#main .content .wrapper .chartContainer .chartRow .titlewrap h1 {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  position: relative;
  width: 100%;
  margin-left: 1%;
}

#main .content .wrapper .chartContainer .chartRow .chartwrap {
  height: 80%;
}

#main .content .wrapper .chartContainer .chartRow:last-child {
  margin-bottom: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #3e3b3b;
}

.sidenav #dr_profile {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidenav #dr_profile img {
  max-height: 100px;
  border-radius: 50%;
  width: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav #dr_profile h3 {
  font-style: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #3e3b3b;
  margin-top: 20%;
}

.sidenav a:hover {
  color: #33508d;
}

.sidenav .links {
  height: 50%;
}

.sidenav #logout {
  height: 10%;
  position: absolute;
  bottom: 10px;
}

@media screen and (max-height: 600px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav {
    font-size: 15px;
  }
  .sidenav #dr_profile img {
    max-height: 50px;
  }
  .sidenav #logout {
    bottom: 15px;
  }
  #main .header .header_top #patient_info .profile_pic {
    max-height: 50px;
  }
  #main .header .header_top #patient_info .patient_id ul {
    font-size: 12px;
  }
  #main .header .header_top #patient_info .patient_status ul {
    font-size: 10px;
  }
  #main .header .header_top #menu_button_container .menu-btn {
    max-height: 15px;
  }
  #main .header {
    height: 120px;
  }
  #main .content {
    top: 120px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav {
    font-size: 15px;
  }
  .sidenav #dr_profile img {
    max-height: 50px;
  }
  .sidenav #logout {
    bottom: 15px;
  }
  #main .header .header_top #patient_info .profile_pic {
    max-height: 50px;
  }
  #main .header .header_top #patient_info .patient_id ul {
    font-size: 12px;
  }
  #main .header .header_top #patient_info .patient_status ul {
    font-size: 10px;
  }
  #main .header .header_top #menu_button_container .menu-btn {
    max-height: 15px;
  }
  #main .header {
    height: 120px;
  }
  #main .content {
    top: 120px;
    padding-top: 10px;
  }
}
/*# sourceMappingURL=live_patient.css.map */