body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: url('../images/bg_image.png');
    background-attachment: fixed;
    background-size: cover;

    a {
        text-decoration: none;
    }
}

.logo {
    top: 15%;
    left: 50%;
    position: absolute;
    margin-bottom: 10px;
    transform: translate(-50%, -50%);
    height: 10%;
}

.loginbox {
    width: 700px;
    height: 400px;
    margin: 0;
    padding: 0;
    background-color: rgba(5,5,5,0.32);
    color: #FFF;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 5px;

    .toplinks{ 
        height: 15%;
        background:rgba(62,59,59,255);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .link {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            cursor: pointer;

            .link_title {
                height: 80%;
                font-size: 30px;
                padding-top: 5%;

                a {
                    color: #FFF;
                }
            }
    
            #active_link {
                height: 20%;
                width: 100%;
                display: block;
                background: rgba(51,80,141,255);
            }
        }   
    }

    form {
        margin-top: 20px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;

        .form_icon {
            position: absolute;
            left: 25px;
            height: 40px;
            padding-bottom: 5px;
            box-sizing: border-box;
        }

        input {
            margin-bottom: 20px;
            width: 100%;
            box-sizing: border-box;
        }
    
        input[type="text"], input[type="password"] {
            border: none;
            border-bottom: 1px solid #FFF;
            padding-left: 60px;
            background: transparent;
            outline: none;
            font-size: 25px;
            height: 40px;
            color: #FFF;
        }
    
        #confirmbutton {
            text-align: center;
            background: linear-gradient(rgba(51,80,141,255), rgba(96,115,155,1));
            color: #FFF;
            width: 100%;
            outline: none;
            border: none;
            font-size: 30px;
            height: 50px;
            position: absolute;
            bottom: 2%;
            left: 0;
            width: 95%;
            margin-left: 2.5%;
            margin-right: 2.5%;
            cursor: pointer;
        }
    
        ::placeholder {
            color: #FFF;
            opacity: 0.7;
        }
    
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #FFF;
            opacity: 0.7;
        }
           
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: #FFF;
            opacity: 0.7;
        }
    }

    
}


// Responsive scaling for smaller screens
@media screen and (max-height: 600px) {
    .loginbox {width: 300px;}
    .logo {height: 40px;}

}

@media screen and (max-width: 600px) {
    .loginbox {width: 300px;}
    .logo {height: 40px;}
}

