body, html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-image: url("../images/bg_image.png");
  background-attachment: fixed;
  background-size: cover;
}

body a, html a {
  text-decoration: none;
}

.logo {
  top: 15%;
  left: 50%;
  position: absolute;
  margin-bottom: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 10%;
}

.loginbox {
  width: 700px;
  height: 400px;
  margin: 0;
  padding: 0;
  background-color: rgba(5, 5, 5, 0.32);
  color: #FFF;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.loginbox .toplinks {
  height: 15%;
  background: #3e3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.loginbox .toplinks .link {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  cursor: pointer;
}

.loginbox .toplinks .link .link_title {
  height: 80%;
  font-size: 30px;
  padding-top: 5%;
}

.loginbox .toplinks .link .link_title a {
  color: #FFF;
}

.loginbox .toplinks .link #active_link {
  height: 20%;
  width: 100%;
  display: block;
  background: #33508d;
}

.loginbox form {
  margin-top: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
}

.loginbox form .form_icon {
  position: absolute;
  left: 25px;
  height: 40px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loginbox form input {
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loginbox form input[type="text"], .loginbox form input[type="password"] {
  border: none;
  border-bottom: 1px solid #FFF;
  padding-left: 60px;
  background: transparent;
  outline: none;
  font-size: 25px;
  height: 40px;
  color: #FFF;
}

.loginbox form #confirmbutton {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#33508d), to(#60739b));
  background: linear-gradient(#33508d, #60739b);
  color: #FFF;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  height: 50px;
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  cursor: pointer;
}

.loginbox form ::-webkit-input-placeholder {
  color: #FFF;
  opacity: 0.7;
}

.loginbox form :-ms-input-placeholder {
  color: #FFF;
  opacity: 0.7;
}

.loginbox form ::-ms-input-placeholder {
  color: #FFF;
  opacity: 0.7;
}

.loginbox form ::placeholder {
  color: #FFF;
  opacity: 0.7;
}

.loginbox form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFF;
  opacity: 0.7;
}

.loginbox form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #FFF;
  opacity: 0.7;
}

@media screen and (max-height: 600px) {
  .loginbox {
    width: 300px;
  }
  .logo {
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .loginbox {
    width: 300px;
  }
  .logo {
    height: 40px;
  }
}
/*# sourceMappingURL=login.css.map */