body,
html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-image: url("../images/bg_image.png");
  background-attachment: fixed;
  background-size: cover;

  a {
    text-decoration: none;
  }
}

#main {
  transition: margin-left 0.5s;

  .header {
    width: 100%;
    height: 15%;
    z-index: 1;
    position: fixed;
    background: rgba(62, 59, 59, 255);
    display: flex;
    flex-direction: column;
    color: white;

    .link_button {
      opacity: 0.4;
    }

    .active {
      opacity: 1;
      font-size: 1em;
    }

    .header_top {
      height: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      align-items: center;

      h1 {
        order: 2;
        width: 80%;
        font-size: 50px;
      }

      #menu_button_container {
        width: 10%;
        order: 1;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .menu-btn {
          max-height: 20px;
          align-items: flex-start;
          cursor: pointer;
        }
      }

      #search_button_container {
        width: 10%;
        order: 3;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .search-btn {
          max-height: 30px;
          align-items: flex-start;
          cursor: pointer;
        }
      }
    }

    .header_bottom {
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .link {
        width: 33.333%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        cursor: pointer;

        .link_title {
          height: 80%;
          font-size: 17px;

          a {
            color: #fff;
          }
        }

        #active_link {
          height: 20%;
          width: 100%;
          display: block;
          background: rgba(51, 80, 141, 255);
        }
      }
    }
  }

  .plusbuttonwrapper {
    width: 150px;
    height: 150px;
    // margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    // background-color: red;
    // border-radius:100%;

    .plusbutton {
      width: 100%;
      opacity: 0.8;
    }
  }

  .content {
    position: absolute;
    width: 100%;
    top: 15%;
    padding-top: 20px;
    height: 100%;
    overflow-x: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .patient_block {
      position: relative;
      width: calc(100vw * 0.8);
      max-height: 80px;
      margin: 0.5% 0% 0.5% 0%;
      padding: 1% 1% 1% 5%;
      background-color: rgba(5, 5, 5, 0.32);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      color: #fff;
      border-radius: 5px;

      > div {
        flex: 3;
      }

      #starwrap {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
      }
      .profpicwrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        .profile_pic {
          max-height: 72px;
          border-radius: 50%;
        }
      }

      .patient_id {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        padding-bottom: 10px;
        flex: 4;
        ul {
          font-size: 16px;
          padding-left: 10%;
          margin: 0;
          list-style-type: none;
          text-align: left;
        }
      }

      .patient_status {
        height: 100%;
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        padding-bottom: 10px;

        ul {
          font-size: 15px;
          padding-left: 10%;
          margin: 0;
          list-style-type: none;
          text-align: left;
        }
      }

      .unstarred {
        content: url("../images/star_unfill.png");
        height: 40px;
        align-self: center;
        cursor: pointer;
      }

      .starred {
        content: url("../images/star_fill.png");
        height: 40px;
        align-self: center;
        cursor: pointer;
      }

      #viewbtnwrap {
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        .view_btn {
          align-self: center;
          margin-left: 10px;
          height: 30px;
          width: 120px;
          text-align: center;
          background: linear-gradient(
            rgba(51, 80, 141, 255),
            rgba(96, 115, 155, 1)
          );

          a {
            color: #fff;
            font-size: 20px;
          }
        }
      }
    }
  }

  #wrapper {
    top: 0;
  }
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid grey;
    margin: auto;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: rgba(62, 59, 59, 255);

  #dr_profile {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-height: 100px;
      width: auto;
      transition: 0.3s;
    }
    h3 {
      font-style: bold;
      transition: 0.3s;
    }
  }

  a {
    display: block;
    transition: 0.3s;
    color: rgba(62, 59, 59, 255);
  }

  a:hover {
    color: rgba(51, 80, 141, 255);
  }

  .links {
    height: 50%;
  }

  #logout {
    height: 10%;
    position: absolute;
    bottom: 10px;
  }
}

// Responsive scaling for smaller screens
@media screen and (max-height: 600px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav {
    font-size: 15px;
  }
  .sidenav #dr_profile img {
    max-height: 50px;
  }
  .sidenav #logout {
    bottom: 15px;
  }
  #main .header .header_top #menu_button_container .menu-btn {
    max-height: 15px;
  }
  #main .header .header_top #search_button_container .search-btn {
    max-height: 15px;
  }
  #main .header .header_top h1 {
    font-size: 20px;
  }
  #main .header .header_bottom .link .link_title {
    font-size: 10px;
  }
  #main .header {
    height: 120px;
  }
  #main .content {
    top: 120px;
    padding-top: 10px;
  }
  #main .content .patient_block {
    flex-wrap: wrap;
    max-height: 600px;
  }
}

@media screen and (max-width: 600px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav {
    font-size: 15px;
  }
  .sidenav #dr_profile img {
    max-height: 50px;
  }
  .sidenav #logout {
    bottom: 15px;
  }
  #main .header .header_top #menu_button_container .menu-btn {
    max-height: 15px;
  }
  #main .header .header_top #search_button_container .search-btn {
    max-height: 15px;
  }
  #main .header .header_top h1 {
    font-size: 20px;
  }
  #main .header .header_bottom .link .link_title {
    font-size: 10px;
  }
  #main .header {
    height: 120px;
  }
  #main .content {
    top: 120px;
    padding-top: 10px;
  }
  #main .content .patient_block {
    flex-wrap: wrap;
    max-height: 600px;
  }
}
