body,
html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-image: url("../images/bg_image.png");
  background-attachment: fixed;
  background-size: cover;
}

body a,
html a {
  text-decoration: none;
}

#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  /* Safari */
}

#main .header {
  width: 100%;
  height: 15%;
  z-index: 1;
  position: fixed;
  background: #3e3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

#main .header .link_button {
  opacity: 0.4;
}

#main .header .active {
  opacity: 1;
  font-size: 1em;
}

#main .header .header_top {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .header .header_top h1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 80%;
  font-size: 50px;
}

#main .header .header_top #menu_button_container {
  width: 10%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .header .header_top #menu_button_container .menu-btn {
  max-height: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

#main .header .header_top #search_button_container {
  width: 10%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .header .header_top #search_button_container .search-btn {
  max-height: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

#main .header .header_bottom {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .header .header_bottom .link {
  width: 33.333%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  cursor: pointer;
}

#main .header .header_bottom .link .link_title {
  height: 80%;
  font-size: 17px;
}

#main .header .header_bottom .link .link_title a {
  color: #fff;
}

#main .header .header_bottom .link #active_link {
  height: 20%;
  width: 100%;
  display: block;
  background: #33508d;
}

#main .plusbuttonwrapper {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .plusbuttonwrapper .plusbutton {
  width: 100%;
  opacity: 0.8;
}

#main .content {
  position: absolute;
  width: 100%;
  top: 15%;
  padding-top: 20px;
  height: 100%;
  overflow-x: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#main .content .patient_block {
  position: relative;
  width: calc(100vw * 0.8);
  max-height: 80px;
  margin: 0.5% 0% 0.5% 0%;
  padding: 1% 1% 1% 5%;
  background-color: rgba(5, 5, 5, 0.32);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  border-radius: 5px;
}

#main .content .patient_block > div {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#main .content .patient_block #starwrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .content .patient_block .profpicwrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main .content .patient_block .profpicwrap .profile_pic {
  max-height: 72px;
  border-radius: 50%;
}

#main .content .patient_block .patient_id {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 10px;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

#main .content .patient_block .patient_id ul {
  font-size: 16px;
  padding-left: 10%;
  margin: 0;
  list-style-type: none;
  text-align: left;
}

#main .content .patient_block .patient_status {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 10px;
}

#main .content .patient_block .patient_status ul {
  font-size: 15px;
  padding-left: 10%;
  margin: 0;
  list-style-type: none;
  text-align: left;
}

#main .content .patient_block .unstarred {
  content: url("../images/star_unfill.png");
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

#main .content .patient_block .starred {
  content: url("../images/star_fill.png");
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

#main .content .patient_block #viewbtnwrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .content .patient_block #viewbtnwrap .view_btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
  height: 30px;
  width: 120px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#33508d), to(#60739b));
  background: linear-gradient(#33508d, #60739b);
}

#main .content .patient_block #viewbtnwrap .view_btn a {
  color: #fff;
  font-size: 20px;
}

#main #wrapper {
  top: 0;
}

#main .loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid grey;
  margin: auto;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #3e3b3b;
}

.sidenav #dr_profile {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidenav #dr_profile img {
  max-height: 100px;
  width: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav #dr_profile h3 {
  font-style: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #3e3b3b;
}

.sidenav a:hover {
  color: #33508d;
}

.sidenav .links {
  height: 50%;
}

.sidenav #logout {
  height: 10%;
  position: absolute;
  bottom: 10px;
}

@media screen and (max-height: 600px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav {
    font-size: 15px;
  }
  .sidenav #dr_profile img {
    max-height: 50px;
  }
  .sidenav #logout {
    bottom: 15px;
  }
  #main .header .header_top #menu_button_container .menu-btn {
    max-height: 15px;
  }
  #main .header .header_top #search_button_container .search-btn {
    max-height: 15px;
  }
  #main .header .header_top h1 {
    font-size: 20px;
  }
  #main .header .header_bottom .link .link_title {
    font-size: 10px;
  }
  #main .header {
    height: 120px;
  }
  #main .content {
    top: 120px;
    padding-top: 10px;
  }
  #main .content .patient_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 600px;
  }
}

@media screen and (max-width: 600px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav {
    font-size: 15px;
  }
  .sidenav #dr_profile img {
    max-height: 50px;
  }
  .sidenav #logout {
    bottom: 15px;
  }
  #main .header .header_top #menu_button_container .menu-btn {
    max-height: 15px;
  }
  #main .header .header_top #search_button_container .search-btn {
    max-height: 15px;
  }
  #main .header .header_top h1 {
    font-size: 20px;
  }
  #main .header .header_bottom .link .link_title {
    font-size: 10px;
  }
  #main .header {
    height: 120px;
  }
  #main .content {
    top: 120px;
    padding-top: 10px;
  }
  #main .content .patient_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 600px;
  }
}
/*# sourceMappingURL=patient_dashboard.css.map */